.px-viewport-dimensions {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 10000;
  padding: 5px 6px 5px;
  font-family: 'Courier', 'Courier New', 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 14px;
  word-spacing: -2px;
  color: #ffffff;
  opacity: 0;
  transform: translate3d(calc(100% + 8px), 0, 0);
  display: inline-block;
  background: #181818;
  transition: opacity .4s ease, transform .4s ease;
}

.px-viewport-dimensions--hidden {
  display: none;
}

.px-viewport-dimensions--fade-in {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}