* {
  position: relative;
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 190px;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  color: #181818;
}

@media screen and (min-width: 376px) {
  body {
    width: 376px;
  }
}

.popup-content {
  padding: 0;
  min-height: calc(100% - 38px);
}

h3 {
  margin: 0 0 4px;
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  line-height: 1.2em;
  font-weight: normal;
  color: #181818;
}

.settings-section {
  padding: 11px 14px 10px;
}

.settings-checkbox {
  background: #f6f6f6;
}

.settings-checkbox input {
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 2;
}

.settings-checkbox label {
  padding: 11px 9px 10px 33px;
  display: block;
}

.border-bottom {
  border-bottom: 1px solid #dddddd;
}

select {
  width: 100%;
}

/* Sponsored By */
a#section--sponsored-by {
  margin-bottom: -1px;
  padding: 12px 10px 10px;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #cccccc;
  justify-content: center;
  align-items: center;
  display: flex;
  background-image: linear-gradient(to bottom, #303030, #404040);
}

a#section--sponsored-by img {
  top: -2px;
  margin-left: 8px;
}

a#section--sponsored-by:hover {
  color: #eeeeee;
}